// project colors
$viridianGreen: #19A2AE;
$spaceCadet: #2D3248;
$rhythm: #6A6F81;
$darkGray: #969696;

// deja dev's colors
$platinum: #E6E7E8;
$citrine: #E4D00A;
$oldGold: #C4B108;
$blue: #0A1EE4;
$mediumBlue: #081BC4;
$eerieBlack: #1C1C1C;

// font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$fFam: 'Kumbh Sans', sans-serif;
$fSize: 18px;
$fReg: 400;
$fBold: 700;

// images
$bgTop: url(../../images/bg-pattern-top.svg);
$bgBotm: url(../../images/bg-pattern-bottom.svg);
$cardBg: url(../../images/bg-pattern-card.svg);

html{overflow-x: hidden;}
body{
  min-height: 100vh;
  max-width: 100%;
}
main{display: flex;}

#bgImg{
  height: 100vh;
  width: 100vw;
  background-image: $bgTop, $bgBotm;
  background-color: $viridianGreen;
  background-repeat: no-repeat;
  background-position: top -530px left -220px, bottom -585px right -220px;
  background-size: 900px;
  background-attachment: local;
}

#card{
  height: 65vh;
  width: 400px;
  background: $platinum $cardBg no-repeat top center / contain;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  p{
    font-family: $fFam;
    font-size: $fSize;
    font-weight: $fReg;
  }

  #cardTop{
    border-bottom: 1px solid rgba($darkGray, $alpha: .1);

    #profileImg{
      display: flex;
      flex-direction: column;

      img{
        border: 3px solid $platinum;
        border-radius: 50%;
        max-width: 96px;
        margin: 28% auto 0;
      }
    }

    #profileDetails{
      p{
        text-align: center;
        margin: 2rem 0 1rem;
        font-weight: $fBold;
        color: $eerieBlack;
        line-height: 1.8rem;
      }
      .age{
        color: $rhythm;
        font-weight: $fReg;
      }
      .loc{
        font-size: 12px;
        color: $rhythm;
        font-weight: $fReg;
      }
    }

  }
  #cardBtm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 69px;

    div{
      text-align: center;
      p{
        color: $eerieBlack;
        font-weight: $fBold;
      }
      :last-child{
        color: $rhythm;
        font-size: 12px;
        font-weight: $fReg;
      }
    }
  }
}

@media (max-width: 600px) {
  #bgImg{
    height: 100vh;
    width: 100vw;
    background-image: $bgTop, $bgBotm;
    background-color: $viridianGreen;
    background-repeat: no-repeat;
    background-position: top -300px left -400px, bottom -300px right -350px;
    background-size: 600px;
    background-attachment: local;
  }
}

.attribution {
  background: $eerieBlack;
  p{
    color: $platinum;
    font-size: 11px;
    text-align: center;
    padding: .5rem;
  }
}
.attribution a {
  text-decoration: none;
  color: $citrine;
}
.attribution a:hover{color: $oldGold;}