// project colors
$viridianGreen: #19A2AE;
$spaceCadet: #2D3248;
$rhythm: #6A6F81;
$darkGray: #969696;

// deja dev's colors
$platinum: #E6E7E8;
$citrine: #E4D00A;
$oldGold: #C4B108;
$blue: #0A1EE4;
$mediumBlue: #081BC4;
$eerieBlack: #1C1C1C;

// font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$fFam: 'Kumbh Sans', sans-serif;
$fSize: 18px;
$fReg: 400;
$fBold: 700;

// images
$bgTop: url(../../images/bg-pattern-top.svg);
$bgBotm: url(../../images/bg-pattern-bottom.svg);


html{overflow-x: hidden;}
body{
  min-height: 100vh;
  max-width: 100%;
}

#bgImg{
  height: 100vh;
  width: 100vw;
  background-image: $bgTop, $bgBotm;
  background-color: $viridianGreen;
  background-repeat: no-repeat, no-repeat;
  background-position: top -40% left -40%, bottom -40% right -40%;
  background-size: 300px;
}

.attribution {
  background: $eerieBlack;
  color: $platinum;
  font-size: 11px; 
  text-align: center;
  padding: .5rem;
}
.attribution a {
  text-decoration: none;
  color: $citrine;
}
.attribution a:hover{color: $oldGold;}